.addCategorys {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCategorysContainer {
  width: 96%;
  height: 250px;
  display: flex;
  background-color: #0a0a0a;
  margin: 3% 2%;
  border-radius: 15px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  padding: 2%;
}

.addCategorysImageContainer {
  width: 50%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addCategorysImageContainer img {
  height: 200px;
}
.addCategorysFormContainer {
  width: 50%;
  padding: 2%;
  display: flex;
  align-items: center;
}
.addCategorysFormContent {
  display: flex;
  margin-bottom: 10px;
}
.addCategorysFormContent .label {
  width: 100px;
}

.addCategorysFormContent .Nom {
  width: 300px;
  height: 30px;
  background-color: #131313;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2%;
  color: #fff;
}

.addCategorysFormContent .Submit {
  width: 300px;
  margin-top: 3%;
  padding: 2%;
  background-color: transparent;
  border-radius: 10px;
  background-color: #131313;
  border: 1px solid #000;
  color: #efa51f;
}

.addCategorysFormContent select {
  width: 300px;
  padding: 2%;
  background-color: transparent;
  border-radius: 10px;
  background-color: #131313;
  border: 1px solid #000;
  color: #efa51f;
}

.afficheCategorysContainer {
  width: 98%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.OnecategoryContainer {
  width: 200px;
  height: 280px;
  background-color: #0a0a0a;
  margin: 3% 1%;
  border-radius: 15px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.OnecategoryService {
  margin-bottom: 10px;
  color: #a3a3a3;
}

.OnecategoryNom {
  margin-bottom: 10px;
  color: #efa51f;
}

.OnecategoryIcon {
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: center;
}

.OnecategoryIconBleu {
  color: blue;
  margin-right: 5px;
}

.OnecategoryIconRed {
  color: red;
  margin-left: 5px;
}

.OnecategoryContainer input {
  color: #efa51f;
  background-color: #131313;
  border: none;
  padding: 3px;
  margin-bottom: 8px;
}

.OnecategoryContainerImage {
  height: 150px;
  width: 150px;
  background-color: #101010;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.OnecategoryContainerImage img {
  height: 85%;
  width: 85%;
}
