.container {
  user-select: none;
  margin: 50px auto;
  background: #000;
  color: #b3b8cd;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}
.cover-photo {
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 1px solid #b97900;
  padding: 7px;
  background: #efa51f;
}
.profile-name {
  font-size: 20px;
  font-weight: bold;
  margin: 27px 0 0 120px;
}
.about {
  margin-top: 35px;
  margin-bottom: 25px;
  line-height: 21px;
}

.about .CardService {
  color: #efa51f;
  padding-bottom: 5px;
}
button {
  margin: 10px 0 40px 0;
}
.msg-btn,
.follow-btn {
  background: #efa51f;
  border: 1px solid #efa51f;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.msg-btn:hover {
  color: #efa51f;
  background: transparent;
  transition: 0.5s;
}

.follow-btn {
  margin-left: 10px;
  background: transparent;
  color: #efa51f;
}
.follow-btn:hover {
  color: #fff;
  background: #efa51f;
  transition: 0.5s;
}
.container i {
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.container i:hover {
  color: #efa51f;
}
